<template>
  <div id="main-app" class="container">
    <search-offers
            :myKey = "filterKey"
            :myDir = "filterDir"
            @searchRecords="searchOffers"
            @keyChange = "changeKey"
            @dirChange = "changeDir" />
    <offer-list
            :offers = 'filteredOffers' />
  </div>
</template>

<script>
    import _ from 'lodash';
    import SearchOffers from './components/SearchOffers.vue';
    import OfferList from './components/OfferList.vue';
    import $ from 'jquery';

    export default {
        name: 'MainApp',
        data() {
            return {
                theOffers: [],
                searchTerms: '',
                filterKey: 'name',
                filterDir: 'asc'
            } //return
        }, //data
        components: {
            'search-offers':SearchOffers,
            'offer-list': OfferList
        }, //components
        created: function() {
            $.getJSON('http://localhost/listoffers')
                .done( info =>  {
                    this.theOffers = info.offers;
                }); //getJSON
        }, //created
        methods: {
            searchOffers: function(terms) {
                this.searchTerms = terms;
            }, //searchOffers
            changeKey: function(value) {
                this.filterKey = value;
            }, //changeKey
            changeDir: function(value) {
                this.filterDir = value;
            }, //changeKey
        }, //methods
        computed: {
            searchedOffers: function() {
                return this.theOffers.filter(function(item) {
                    return (
                        (item.name.toLowerCase().match(this.searchTerms.toLowerCase()))
                    )
                }.bind(this));
            },// searchedOffers
            filteredOffers: function() {
                return _.orderBy(this.searchedOffers, function(item) {
                    return item[this.filterKey] ;
                }.bind(this), this.filterDir);
            } //filteredOffers
        }
    } //default
</script>
