<template>
    <ul class="offer-list">
        <offer-item
                v-for="(item, i) in offers"
                :offer="item"
                :key="i"
        />
    </ul>
</template>

<script>
    import OfferListItem from './OfferListItem.vue';
    export default {
        name: 'OfferList',
        props: ['offers'],
        components: {
            'offer-item': OfferListItem
        }, //components
    } //export
</script>

<style scoped>
    .offer-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin: 10px 5%;
        font-size: 1.7rem;
    }
</style>
