<template>
    <li>
        <div class="row">
            <div class="col-sm-2" ><img :src="offer.image_url"/> </div>
            <div class="col-sm-10" >
                <div class="offer-name">{{offer.name}}</div>
                <div class="offer-cash-back">${{offer.cash_back}} Cash Back</div>
            </div>
        </div>
    </li>
</template>

<script>
    export default {
        name: 'OfferItem',
        props: ['offer']
    }
</script>

<style scoped>
    .offer-name {
        font-weight: bolder;
        font-size: 1.7rem;
    }
    .offer-cash-back{
        color: green;
    }
</style>